[Unit]
Description=Set the KinetixOS live administrator password
After=local-fs.target systemd-sysusers.service
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kinetix-live-password
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=no
TTYVTDisallocate=yes
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
